.App {
  text-align: center;
}

.App-margin {
  margin-top: 200px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.labelCls {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  padding: 5px;
  width: 10%;
  font-weight: bold;
}

.inputCls {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  padding: 5px;
  width: 15%;
}

.btnCls {
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

.show-heading-with-btn {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  margin-top: 25px;
}

.button-container {
  position: fixed;
  top: 10px; /* Adjust this value to change the distance from the top */
  right: 20px; /* Adjust this value to change the distance from the right */
}

.scrollable-div {
  width: 100%; /* Adjust width as needed */
  height: 500px; /* Adjust height as needed */
  overflow: auto; /* Enable scroll bar */
  border: 1px solid #020202; /* Optional: add border for visibility */
}


table{
  border-collapse: collapse;
  border: 1px solid black;
  background-color: white;
}

tbody, thead, th, tr, td {
  border: 1px solid black;
}

th {
  background-color: grey;
}

th, td {
  padding: 8px;
}